In [1]:
#importing neccessary libraries

In [1]:
import pandas as pd

In [3]:
#importing data

In [11]:
df=pd.read_csv('BankChurners.csv', index_col=0)

In [5]:
df.head(2)

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994

In [6]:
#deleting last two rows

In [13]:
df = df.iloc[:, :-2]

In [8]:
df.head(0) #checking

Empty DataFrame
Columns: [Attrition_Flag, Customer_Age, Gender, Dependent_count, Education_Level, Marital_Status, Income_Category, Card_Category, Months_on_book, Total_Relationship_Count, Months_Inactive_12_mon, Contacts_Count_12_mon, Credit_Limit, Total_Revolving_Bal, Avg_Open_To_Buy, Total_Amt_Chng_Q4_Q1, Total_Trans_Amt, Total_Trans_Ct, Total_Ct_Chng_Q4_Q1, Avg_Utilization_Ratio]
Index: []

In [9]:
#rename columns

In [14]:
df.rename(columns={"Customer_Age": "Age",
    "Dependent_count": "Dependents",
    "Months_on_book": "Tenure_Months",
    "Months_Inactive_12_mon": "Inactive_Months",
    "Contacts_Count_12_mon": "Contacts_Last_12_Months",
    "Total_Trans_Amt": "Total_Transaction_Amount",
    "Total_Trans_Ct": "Total_Transaction_Count"
}, inplace=True)

In [15]:
df.rename(columns={"Attrition_Flag":"Churn"}, inplace=True)

In [21]:
print(df.columns)

Index(['Churn', 'Age', 'Gender', 'Dependents', 'Education_Level',
       'Marital_Status', 'Income_Category', 'Card_Category', 'Tenure_Months',
       'Total_Relationship_Count', 'Inactive_Months',
       'Contacts_Last_12_Months', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Transaction_Amount',
       'Total_Transaction_Count', 'Total_Ct_Chng_Q4_Q1',
       'Avg_Utilization_Ratio'],
      dtype='object')

In [13]:
#assigning existing customer to 1 and attrited to 0

In [16]:
df["Churn"] = df["Churn"].map({"Existing Customer": 0,"Attrited Customer": 1})

In [15]:
df.head(1)

,Churn,Age,Gender,Dependents,Education_Level,Marital_Status,Income_Category,Card_Category,Tenure_Months,Total_Relationship_Count,Inactive_Months,Contacts_Last_12_Months,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Transaction_Amount,Total_Transaction_Count,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
CLIENTNUM,,,,,,,,,,,,,,,,,,,,
768805383,0,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061

In [16]:
df.isnull().sum()

Churn                       0
Age                         0
Gender                      0
Dependents                  0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Tenure_Months               0
Total_Relationship_Count    0
Inactive_Months             0
Contacts_Last_12_Months     0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Transaction_Amount    0
Total_Transaction_Count     0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10127 entries, 768805383 to 714337233
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Churn                     10127 non-null  int64
 1   Age                       10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependents                10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Tenure_Months             10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Inactive_Months           10127 non-null  int64
 11  Contacts_Last_12_Months   10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Transaction_Amount  10127 non-null  int64
 17  Total_Transaction_Count   10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(10), object(5)
memory usage: 1.6+ MB

In [18]:
df

,Churn,Age,Gender,Dependents,Education_Level,Marital_Status,Income_Category,Card_Category,Tenure_Months,Total_Relationship_Count,Inactive_Months,Contacts_Last_12_Months,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Transaction_Amount,Total_Transaction_Count,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
CLIENTNUM,,,,,,,,,,,,,,,,,,,,
768805383,0,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
818770008,0,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
713982108,0,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
769911858,0,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
709106358,0,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772366833,0,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
710638233,1,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
716506083,1,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
717406983,1,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
714337233,1,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [20]:
import sys
print(sys.executable)

C:\ProgramData\anaconda3\python.exe

In [21]:
pip install pandas sqlalchemy pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.39)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("mysql+pymysql://root:leo04@localhost:3306/customer_behavior")

In [4]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

print("All packages are ready!")

All packages are ready!

In [6]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("SELECT 1"))
    print("Connection successful!")

Connection successful!

In [ ]:
df.to_sql(
    name="customer",
    con=engine,
    if_exists="replace",
    index=False
)
print("Data loaded successfully!")